@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}


button {
    cursor: pointer;
}

button:hover {
    background-color: #3a3833;
}

.btn a {
    color: white;
}

    /* Index Page */

header .container {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header .image {
    display: flex;
    justify-content: center;
}

    /* About Page */

section .bg-image {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

section .social {
    display: flex;
    justify-content: center;
    alight-items: center;
    font-size: 2rem;
}

section .line {
    background: black;
}

    /* Winners Page */

section .bg-image {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    /* Player's update Page */

section .bg-image {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    /* Tournaments Page */

section .bg-image {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    /* Tournaments Update Page */

section .bg-image {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

    /* Sign In Page */

section .bg-image {
    background-image: url("/images/golfbackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

