<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Head -->
    <div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <section class="about vh-100 py-5 my-5 bg-light">
        <div class="bg-image container py-5 vh-100">
            <div class="container px-5 vh-100">
                <div class="row gx-5 justify-content-center bg-light">
                    <div class="col-lg-12 col-xl-6 py-5">
                        <div class="content">
                            <div class="text-center">
                                <h1 class="display-4 fw-bolder text-dark">Who We Are</h1>
                            </div>
                            <div class="pb-3">
                                <hr class="line">
                            </div>
                            <div class="about-text">
                                <p>We are a nonprofit organization dedicated to creating a tournament environment benefiting the tour and the players.  Players at any skill level can join and improve their game.</p>
                                <p>Our goal is to create a "Spring Training" for competitive golfers at every level.  Players who have never competed in tournaments before  can have a tournament experience without feeling the tournament pressure.</p>
                                <p>Anyone can participate and best of all, there is a chance to win <b>Prize Money</b>!</p>
                            </div>
                            <div class="social">
                                <a href="#"><i class="fa-brands fa-facebook" style="margin-right: 1rem;"></i></a>
                                <a href="#"><i class="fa-brands fa-twitter" style="margin-right: 1rem;"></i></a>
                                <a href="#"><i class="fa-brands fa-instagram" style="margin-right: 1rem;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>