<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Head -->
    <div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <!-- Header -->
    <header class="index vh-100 py-5 my-5 bg-light">
        <div class="container px-5 vh-100">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="image my-5">
                        <img src="/images/teeshot.png">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Section -->
    <section class="teetimes vh-100 bg-light">
        <div class="container">
            <h1 class="tee text-center pb-3">Book Tee Times</h1>
            <div class="">
                <hr class="line">
            </div>
        </div>
        <div class="slide-container swiper py-3 my-5">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <a th:href="@{/tees/teeform}"><img src="/images/ccgc.jpg" alt="" class="img" width="300px" height="300px"></a>
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="name">Cave Creek Golf Course</h4>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <a th:href="@{/tees/teeform}"><img src="/images/dmgc.jpg" alt=""  class="img" width="300px" height="300px"></a>
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="name">Desert Mirage Golf Course</h4>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <a th:href="@{/tees/teeform}"><img src="/images/egc.jpg" alt=""  class="img" width="300px" height="300px"></a>
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="name">Encanto Golf Course</h4>
                        </div>
                    </div>
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <a th:href="@{/tees/teeform}"><img src="/images/ppgc.jpg" alt=""  class="img" width="300px" height="300px"></a>
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="name">Peoria Pines Golf Course</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>