<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Head -->
    <div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <!-- Header -->
    <header class="index vh-100 py-5 my-5 bg-light">
        <div class="container px-5 vh-100">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="image my-5">
                        <img src="/images/teeshot.png">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>