<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Head -->
    <div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <section class="login vh-100 py-5 my-5 bg-light">
        <div class="bg-image container py-5 vh-100">
            <div class="container px-5 vh-100">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center my-5">
                            <h1 class="display-4 fw-bolder text-white mb-2">Add/Update Winner's List</h1>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-5">
                        <p th:if="${player.email ne null}" class="persist">Persisted!</p>
                        <form th:action="@{/players/saveupdateplayer}" id="player-form" autocomplete="off" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" name="email" class="form-control" placeholder="Winner's Email" th:field="*{player.email}" />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="firstName" class="form-control" placeholder="Winner's First Name" th:field="*{player.firstName}" />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="lastName" class="form-control" placeholder="Winner's Last Name" th:field="*{player.lastName}" />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="totalWinnings" class="form-control" placeholder="Total Winnings" th:field="*{player.totalWinnings}" />
                            </div>
                            <div class="update-player-button">
                                <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>