<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Head -->
<div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <section class="winners vh-100 py-5 my-5 bg-light">
        <div class="container px-5 vh-100">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center my-5">
                        <h1 class="display-4 fw-bolder text-dark">Book Tee Time</h1>
                    </div>
                </div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-5">
                    <p th:if="${tee.name ne null}" class="persist">Persisted!</p>
                    <form class="mt-5" th:action="@{/tees/saveupdatetee}"  autocomplete="off" method="POST">
                        <div class="input-group mb-3">
                            <label class="form-label text-dark mr-3">Enter Course Name</label>
                            <input type="text" name="name" placeholder="Cave Creek Golf Course" class="form-control" th:field="*{tee.name}"/>
                        </div>
                        <div class="input-group mb-3">
                            <label class="form-label text-dark mr-3">Enter Date</label>
                            <input type="text" name="date" class="form-control" placeholder="yyyy-MM-dd" th:field="*{tee.date}"/>
                        </div>
                        <div class="input-group mb-3">
                            <label class="form-label text-dark mr-3">Number of Players</label>
                            <input type="text" name="date" class="form-control" placeholder="1-4" th:field="*{tee.golfers}"/>
                        </div>
                        <div class="update-player-button">
                            <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>