<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Head -->
<div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <section class="teetimes vh-100 py-5 my-5 bg-light">
        <div class="container px-5 vh-100">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center my-5">
                        <h1 class="display-4 fw-bolder text-dark">Book Tee Time</h1>
                    </div>
                </div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-5">
                    <p th:if="${tee.name ne null}" class="persist">Tee Time Saved!</p>
                    <form class="mt-5" th:action="@{/tees/saveupdatetee}"  autocomplete="off" method="POST">
                        <div class="form-group">
                            <label class="form-label text-dark mr-3">Course Name</label>
                            <select name="course" th:field="*{tee.name}">
                                <option th:each="course: ${courseList}" th:text="${course}" th:value="${course}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label text-dark mr-3">Date</label>
                            <select name="date" th:field="*{tee.date}">
                                <option th:each="date: ${dateList}" th:text="${date}" th:value="${date}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label text-dark mr-3">Number of Players</label>
                            <select name="golfers" th:field="*{tee.golfers}">
                                <option th:each="golfers: ${golferList}" th:text="${golfers}" th:value="${golfers}"></option>
                            </select>
                        </div>
                        <div class="update-player-button">
                            <button class="btn btn-info" type="submit" id="button-addon2">Save</button>
                        </div>
                    </form>
                    <div class="update-player-button">
                        <a class="nav-link" th:href="@{/tees}"><button class="btn btn-secondary" type="submit" id="button-addon3">Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>