<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Head -->
    <div th:replace="fragrams/header :: head" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <section class="login vh-100 py-5 my-5 bg-light">
        <div class="bg-image container py-5 vh-100">
            <div class="container px-5 vh-100">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8">
                        <div class="text-center my-5">
                            <h1 class="display-4 fw-bolder text-white mb-2">Add/Update Tournament</h1>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-5">
                        <p th:if="${tournament.name ne null}" class="persist">Tournament Saved!</p>
                        <form th:action="@{/tournaments/saveupdatetournament}"  autocomplete="off" method="POST">
                            <div class="input-group mb-3">
                                <input type="text" name="date" class="form-control" placeholder="YYYY-MM-DD" th:field="*{tournament.date}" />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="name" class="form-control" placeholder="Tournament Name" th:field="*{tournament.name}" />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="course" class="form-control" placeholder="Course Name" th:field="*{tournament.course}" />
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" name="purse" class="form-control" placeholder="Tournament Prize" th:field="*{tournament.purse}" />
                            </div>
                            <div class="update-player-button">
                                <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                            </div>
                        </form>
                        <div class="update-player-button">
                            <a class="nav-link" th:href="@{/tournaments}"><button class="btn btn-secondary" type="submit" id="button-addon3">Back</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer" />

</body>
</html>