<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Head -->
    <div th:replace="fragrams/header :: header" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <!-- Header -->
    <header class="bg-light py-5">
        <div class="container px-5 vh-100">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center my-5">
                        <h1 class="display-4 fw-bolder text-black mb-2">Tournaments</h1>
                    </div>
                </div>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10">
                    <h1 class="text-black">Tournaments List</h1>
                    <table class="table table-light">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Course</th>
                            <th scope="col">Players</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tournament: ${tournaments}">
                            <th scope="row" th:text="${tournament.id}"></th>
                            <td th:text="${tournament.name}"></td>
                            <td th:text="${tournament.course}"></td>
                            <td>
                                <p class="d-inline" th:each="player: ${tournament.players}">
                                    <span th:text="'| ' + ${player.firstName} + ' ' + ${player.lastName}"></span>
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <div th:replace="fragrams/footer :: footer"/>

</body>
</html>