<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Head -->
    <div th:replace="fragrams/header :: header" />
<body>

    <!-- Navbar -->
    <div th:replace="fragrams/nav :: nav" />

    <!-- Header -->
    <header class="bg-light py-5">
        <div class="container px-5 vh-100">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center my-5">
                        <h1 class="display-4 fw-bolder text- mb-2">Winners</h1>
                    </div>
                </div>
            </div>

            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10">
                    <form th:action="@{players/findplayerusername}" autocomplete="off" method="post">
                        <div class="input-group mb-3">
                            <input type="text" name="email" class="form-control" placeholder="Winner's Username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-info" type="submit" id="button-addon2">Find</button>
                        </div>
                    </form>
                    <div th:if="${user_not_found}">
                        <p class="text-warning" th:text="${user_not_found}"></p>
                    </div>
                    <div th:if="${user}">
                        <table class="table table-light">
                            <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <th scope="row" th:text="${user.email}"></th>
                            </tr>
                            </tbody>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10">
                    <h1 class="text-white">Winners List</h1>
                    <div th:if="${message}">
                        <p class="text-warning" th:text="${message}"></p>
                    </div>
                    <table class="table table-dark">
                        <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="player: ${winners}">
                                <td th:text="${player.firstName}"></td>
                                <td th:text="${player.lastName}"></td>
                                <th scope="row" th:text="${player.email}"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Footer-->
<div th:replace="fragrams/footer :: footer"/>


</body>
</html>